@import '../../style/default.less';

.header{
  .header-top{
    height: 60px;
    padding: 0 20px;
    .header-top-col{
      justify-content: flex-end;
    }
    span{
      margin-right: 20px;
    }
  }
  .breadcrumb{
    height: 40px;
    padding: 0 20px;
    border-top: 1px solid @colorB;
    .date-detail{
      margin-right: 20px;
    }
  }
}